#contentPane {
    align-content:center;
}

#title{
    background-color: #006E8C;
    color: white; 
    text-align: center;
}

#q1{
    background-color: #72BB53; 
    color: black;
    padding:0;
}

#q2{
    background-color: #006E8C; 
    color: white;
    padding:0;
}

#q3{
    background-color: #72BB53; 
    color: black;
    padding:0;
}

#q4{
    background-color: #006E8C; 
    color: white;
    padding:0;
}

#r1{
    background-color: #72BB53; 
    color: black;
    padding:0;
}

#r2{
    background-color: #006E8C; 
    color: white;
    padding:0;
}

panel {
    margin-bottom: 0px;
}
