#contentPane {
    align-content:center;
}

#title {
    background-color: #006E8C;
    color: white; 
    text-align: center;
}

#q1{
    background-color: #72BB53; 
    color: black;
}

#q2{
    background-color: #006E8C; 
    color: white;
}

#q3{
    background-color: #72BB53; 
    color: black;
}

#q4{
    background-color: #006E8C; 
    color: white;
}

#tableHolder {
    background-color: #72BB53; 
    color: black;
}

img {
    float:right;
}